/*_____________________
 |__ COLOR PALETTES __|
*/
:root {
	--title: #cadbd6;
	--plaque: #111111;
}
.mode-light {
	--title: #7c7c7c;
	--plaque: #ffffff;
}
.mode-contrast {
	--title: #486274;
	--plaque: var(--secondary);
}

main {
	logo {
		svg {
			width: 7em;
			margin: 2em auto .3em;
			
			#shell {
				fill: var(--logo-form);
				stroke: #ffffff;
				stroke-width: var(--logo-stroke);
			}
			#interior { fill: var(--logo-int) }
		}
	}
	about {
		display: block;
		width: 20em;
		margin: auto;
		text-align: justify;

		span {
			color: var(--title);
			font-size: 1.2em;
			letter-spacing: .1em;
		}
	}
	contact {
		display: block;
		width: 20em;
		margin: auto;
		border-radius: .3em;
		padding: 1em;
		background-color: var(--plaque);

		a { color: var(--accent) }
	}
}
footer logo {
	svg {
		#shell { fill: var(--social-icon); stroke-width: 0; }
		#interior { fill: var(--secondary) }
	}
}