/*_____________________
 |__ COLOR PALETTES __|
*/
:root {
	--title: #bdbdbd;
	--plaque: #111111;
}
.mode-light {
	--title: #919090;
	--plaque: #ffffff;
}
.mode-contrast {
	--title: #bdbdbd;
	--plaque: var(--secondary);
}

main logo {
	svg {
		width: 6rem;
		
		#shell {
			fill: var(--logo-form);
			stroke: #ffffff;
			stroke-width: var(--logo-stroke);
		}
		#interior { fill: var(--logo-int) }
	}
}
footer logo {
	svg {
		#shell { fill: var(--social-icon); stroke-width: 0; }
		#interior { fill: var(--secondary) }
	}
}
about {
	display: block;
	width: 20rem;
	margin: auto;
	text-align: justify;

	span {
		color: var(--title);
		font-size: 1.2rem;
		letter-spacing: .1rem;
	}
}
contact {
	display: block;
	width: 20rem;
	margin: auto;
	margin-top:3rem;
	border-radius: .2rem;
	padding: 1rem;
	background-color: var(--plaque);

	a { color: var(--accent) }
}