/*_____________________
 |__ COLOR PALETTES __|
*/
:root {
	--report: #ecebe8;
	--table-cat: #bac0c2;
	--table-cat-txt: #000000;
}
.mode-light {
	--report: #ffffff;
	--table-cat: #ced6cb;
	--table-cat-txt: #000000;
}
.mode-contrast {
	--report: #ffffff;
	--table-cat: #000000;
	--table-cat-txt: var(--report);
}

section {
	margin: 2rem;
	
	p {
		width: 20rem;
		margin: auto;
		text-align: justify;
	}
}

select {
	background-color: white;
	color: black;
	margin-bottom: 2rem;
}

report {
	display: block;
	background-color: var(--report);
	color: black;
	text-align: left;
	padding: 1rem 2rem 2rem;
	border-radius: .2rem;

	h2 { margin:.5rem 0 }
}

table {
	border-collapse: collapse;
	width:100%;
	

	caption {
		margin-bottom: 1rem;
		font-size: 1.2rem;
	}
	th { padding: .5rem 0; }
	td {
		padding: .1rem .5rem;
		border: 1px solid black;
		font-family: "Roboto Mono", serif;
		font-weight: 500;
		font-size: .9rem;
	}
	tr {
		td:first-child {
			padding-left: 1rem;
		}
		td:nth-child(2){
			text-align: right;
		}
		td[colspan] {
			padding-left: .5rem;
			background-color: var(--table-cat);
			color: var(--table-cat-txt);
		}
	}
	tfoot {
		tr:first-child > td {
			height: .6rem;
			border: none;
			background-color: transparent;
		}
		tr {
			td:nth-child(2) {
				background:#f1e31e;
				color: black;
			}
		}
	}
}
:not(:has(report)) {
	footer {
		position: absolute;
		bottom: 0;
	}
}