/* [ COLOR PALETTES ] */
:root {
	--report: #ecebe8;
	--table-cat: #bac0c2;
	--table-cat-txt: #000000;
}
.mode-light {
	--report: #ffffff;
	--table-cat: #ced6cb;
	--table-cat-txt: #000000;
}
.mode-contrast {
	--report: #ffffff;
	--table-cat: #000000;
	--table-cat-txt: var(--report);
}

section {
	margin: 2em;
	
	p {
		width: 20em;
		margin: auto;
		text-align: justify;
	}
}

select {
	background-color: white;
	color: black;
	margin-bottom: 2em;
}

report {
	display: block;
	background-color: var(--report);
	color: black;
	text-align: left;
	padding: 1em 2em 2em;
	min-width: 16em;
	border-radius: .3em;

	h2 { margin:.6em 0 }
}

table {
	border-collapse: collapse;
	width:100%;

	caption {
		margin-bottom: 1em;
		font-size: 1.2em;
	}
	th { padding: .5em 0 }
	td {
		padding: .1em .5em;
		border: 1px solid black;
		font-family: "Roboto Mono", serif;
		font-weight: 500;
		font-size: .9em;
	}
	tr {
		td:nth-child(1) { padding-left: 1em }
		td:nth-child(2) { text-align: right }
		td[colspan] {
			padding-left: .5em;
			background-color: var(--table-cat);
			color: var(--table-cat-txt);
		}
	}
	tfoot {
		tr:first-child > td {
			height: .6em;
			border: none;
			background-color: transparent;
		}
		tr {
			td:nth-child(2) {
				background:#f1e31e;
				color: black;
			}
		}
	}
}

/* [ DISPLAY: MOBILE ] */
@media screen and (max-width: 32em) {
	section {
		margin: 2em .3em;
		p { width: 100% }
	}
}