main {
	width: 80vw;

	section {
		aside {
			display: block;
			margin: -.6rem 0 -.1rem;
			padding: .6rem;
			border-radius: 1em 1em 0 0;
			font-size: .8em;

			background-color: var(--pledge);
			color: var(--txt);
			strong {
				padding: .2em .5em;
				border-radius: .2rem;
				transition: .15s ease;
			}
			strong:hover { background-color: black }
		}
	}
	.yt-player {
		display: flex;
		border-radius: 0 0 2em 2em;
		aspect-ratio: 2;
		width: calc(100% - .4em);
		height: 100%;
		background-color: black;
		margin-bottom: 1em;
	}
	playlist {
		display: block;
		width: calc(100% - .4em);
		margin-top: .4em;
		background-color: var(--playlist-header);

		playlist-buttons {
			display: inline-block;
			margin: .5rem auto;

			button, a {
				background-color: var(--playlist-btn-f);
				color: var(--playlist-btn-t);
				margin: .3rem .3rem;
				padding: .3rem .7rem;
				transition: .2s ease;
				display: inline-block;
				font-family: "Roboto", serif;
				font-weight: 600;
				font-size: .84em;
				text-decoration: none;
			}
			button:hover, a:hover, button:focus-visible, a:focus-visible {
				animation: a-btn-color 0s forwards;
				transform: translateY(-.2rem);
			}
			button:active, a:active { transform: translateY(.1rem) }
		}

		playlist-items {
			ul {
				list-style: none;
				cursor: pointer;
				background-color: var(--playlist-item);
				margin: 0;
				padding: 0;
			}
			li {
				background-color: var(--playlist-item);
				color: var(--txt);
				border-bottom: solid 1px black;
			}
			.selected {
				button {
					background-color: var(--playlist-select-back);
					color: var(--txt);
				}
				a { color: var(--txt) }
				time { color: hsl(from var(--txt) h s l / 0.8) }
			}
			button {
				background-color: var(--playlist-item);
				color: var(--txt);
				display: flex;
				justify-content: space-between;
				width: 100%;
				position: relative;
				gap: 6px;
				padding: .8rem;
				transition: .1s ease;
				text-align: left;
				font-size: 1em;
				text-decoration: none;
				font-family: "Rubik", serif;
			}
			button:hover, button:focus-visible {
				background: var(--playlist-hover-f);
				color: var(--playlist-hover-t);

				strong { text-decoration: underline }
				time { color: var(--playlist-hover-t) }
			}
			time {
				margin-left: .5rem;
				color: hsl(from var(--txt) h s l / 0.85);
				text-wrap: nowrap;

				font-family: "Roboto Mono", serif;
				font-size: .8em;
			}
		}
	}
}

/* [### ↓ DISPLAY: MOBILE ↓ ###] */
@media screen and (max-width: 41.5rem) {
	main {
		width: 90vw;
			section {
				aside {
					border-radius: 1em 1em 0 0;
				}
			}
		.yt-player { border-radius: 0 0 1em 1em }
	}
}