/*____________________
 |__ YOUTUBE EMBED __|
*/
.yt-player {
	border-radius: 0 0 1rem 1rem;
	aspect-ratio: 2;
	width: calc(100% - .4rem);
	height: 100%;
}


/*_______________________
 |__ RANDOMIZE BUTTON __|
	-> button styling
	-> hover animation
	-> pressed animation
*/
.btn-random {
	background: #33ffbb;
	color: #141414;
	border-radius: .25rem;
	box-shadow: .12rem .12rem black;
	font-size: .8rem;
	padding: .3rem .7rem;
	margin-top: 1rem;
	transition: .2s ease;
}
.btn-random:hover, .btn-random:active {
	transform: translateY(-.125em) translateX(-.125em);
	box-shadow: .325em .325em black;
}
.btn-random:active {
	transform: translateY(.125em) translateX(.125em);
	box-shadow: 1px 1px black;
}


/*________________________
 |__ SUPPORT CONTAINER __|
   (seen above YT embed)
*/
.support-container {
	margin: -.6rem 0 -.1rem;
	padding: .6rem;
	border-radius: 1rem 1rem 0 0;
	font-size: .8rem;
}


/*____________________
 |__ SHORTS EMBEDS __|
	-> container style
	-> hover animation
*/
.shorts-frame {
	border-radius: 1em;
	opacity: 0.7;
	transition: .5s ease;
}
.shorts-frame:hover, .shorts-frame:active {
	opacity: 1;
}


/*____________________
 |__ LATEST VIDEOS __|
	-> container for each video
		-> system to emphasize hovered entries
	-> thumbnail styling
	-> position each thumbnail on sprite sheet
	-> style title link
	-> style info text (date, description)
*/
.vid-entry {
	display: grid;
	grid-template-columns: 225px auto auto;
	padding: .5em .5em;
	margin-top: .6em;
	opacity: 1;
	border-radius: .3em;
	transition: .2s ease;
}

	.vid-entry:hover {
		background: #0000004d;
		transition: .4s ease;
	}
	.vid-block:hover > .vid-entry {
		opacity: 0.8;
	}
	.vid-block:hover > .vid-entry:hover {
		opacity: 1;
	}

.vid-block img {
	width: 220px;
	height: 124px;
	border-radius: .45em;
	object-fit: cover;
}
.vid-block img:hover {
	transform: translateY(-.125em) translateX(-.125em);
	transition: .2s ease;
	box-shadow: .125em .125em black;
}

.vid-block > .vid-entry:nth-of-type(1) img {
	object-position: 0 0;
}
.vid-block > .vid-entry:nth-of-type(2) img {
	object-position: 0 -124px;
}
.vid-block > .vid-entry:nth-of-type(3) img {
	object-position: 0 -248px;
}

.vid-details {
	text-align: left;
	padding: .2rem 1rem;
}
.vid-details a {
	color: black;
	background-color: #33ffbb;
	border-radius: .3rem;
	padding: 0 .4rem;
	text-decoration: none;
	font-weight: 500;
	margin-left: -.2rem;
}
.vid-details a:hover {
	background-color: #ffdc3e;
	color: black;
}

.vid-date {
	font-size: .8rem;
	margin-top: .4rem;
}
.vid-descript {
	font-size: .9rem;
	margin-top: .5rem;
}


/*_________________
 |__ VIDEO LIST __|
	-> 
*/
.catalog-title {
	color: #ffdc3e;
	background: none;
	border: none;
	padding-left: 0;
	font-optical-sizing: auto;
	font-weight: 500;
	transition: .2s ease;
}
.catalog-title:hover {
	background: #51f5be;
	color: black;
	transition: .2s ease;
}


/*_________________
 |__ LIGHT MODE __|
	-> 
*/
@media (prefers-color-scheme: light) {
	.catalog-title {
		color: #00586e;
	}
	.btn-random {
		background: #85c7a1;
		color: #141414;
	}
	.btn-random:hover, .btn-random:active {
		background: #ffdc3e;
	}
	.vid-entry:hover {
		background: #549070;
		opacity: 0.3;
		color: white;
		transition: .4s ease;
	}
	.vid-block:hover > .vid-entry {
		opacity: 0.5;
	}
	.vid-block:hover > .vid-entry:hover {
		opacity: 1;
	}
}