header {
	button:hover, button:focus-visible {
		transform: translateY(-.2em);
	}
	button:active {
		transform: translateY(.1em);
	}
}

aside {
	display: block;
	margin: -.6rem 0 -.1rem;
	padding: .6rem;
	border-radius: 1rem 1rem 0 0;
	font-size: .8rem;

	background-color: var(--pledge);
	color: var(--txt);
	strong {
		padding: .2rem .5rem;
		border-radius: .2rem;
		transition: .15s ease;
	}
	strong:hover { background-color: black }
}

/*____________________
 |__ YOUTUBE EMBED __|
*/
.yt-player {
	display: flex;
	border-radius: 0 0 2rem 2rem;
	aspect-ratio: 2;
	width: calc(100% - .4rem);
	height: 100%;
	background-color: black;
	margin-bottom: 1rem;
}

playlist {
	display: block;
	width: calc(100% - .4rem);
	margin-top: .4rem;
	background-color: rgb(0, 0, 0);

	playlist-buttons {
		display: inline-block;
		margin: .5rem auto;

		button {
			background-color: var(--playlist-btn);
			color: var(--playlist-btn-txt);
			margin: .3rem .3rem;
			padding: .3rem .7rem;
			transition: .2s ease;
			font-family: "Roboto", serif;
			font-weight: 600;
		}
		button:hover, button:focus-visible {
			animation: a-btn-color 0s forwards;
			transform: translateY(-.2rem);
		}
		button:active { transform: translateY(.1rem) }
	}

	playlist-items {
		ul {
			list-style: none;
			cursor: pointer;
			background-color: var(--playlist-item);
			line-height: 1rem;
			margin: 0;
			padding: 0;
		}
		li {
			background-color: var(--playlist-item);
			color: var(--txt);
			border-bottom: solid 1px black;
		}
		button {
			background-color: var(--playlist-item);
			color: var(--txt);
			display: flex;
			justify-content: space-between;
			width: 100%;
			position: relative;
			gap: 6px;
			padding: .8rem;
			transition: .1s ease;
			text-align: left;
			font-size: 1rem;
			text-decoration: none;
			font-family: "Rubik", serif;
		}
		button:hover, button:focus-visible {
			background: var(--playlist-hover-back);
			color: var(--playlist-hover-txt);

			strong { text-decoration: underline }
			time { color: var(--playlist-hover-txt) }
		}
		time {
			margin-left: .5rem;
			color: hsl(from var(--txt) h s l / 0.85);
			text-wrap: nowrap;

			font-family: "Roboto Mono", serif;
			font-size: .8rem;
		}
	}
}

.selected {
	button {
		background-color: var(--playlist-select-back);
		color: var(--txt);
	}
	a { color: var(--txt) }
	time { color: hsl(from var(--txt) h s l / 0.8) }
}


/*_________________
 |__ LIGHT MODE __|
	-> 
*/
@media (prefers-color-scheme: light) {
	.catalog-title {
		color: #00586e;
	}
	.btn-random {
		background: #85c7a1;
		color: #141414;
	}
	.btn-random:hover, .btn-random:active {
		background: #ffdc3e;
	}
	.vid-entry:hover {
		background: #549070;
		opacity: 0.3;
		color: white;
		transition: .4s ease;
	}
	.vid-block:hover > .vid-entry {
		opacity: 0.5;
	}
	.vid-block:hover > .vid-entry:hover {
		opacity: 1;
	}
}