/*	* {border: 1px solid red}

/* [### ↓ THEME VARIABLES ↓ ###] */
:root {
	--background: #26292e;
	--secondary: #000000;
	--txt: #ffffff;
	--accent: #ffdd33;
	--internal-link: #33ffbb;
	--header-f: #161616;
	--header-t: var(--txt);
	--header-link: var(--accent);
	--footer-f: var(--accent);
	--footer-t: var(--playlist-hover-t);
	--theme-f: #3d4a55;
	--theme-t: #ffffff;
	--nav-current: #bec3c4;
	--pledge-f: #263e4d;
	--support-t: var(--accent);
	--support-inner-glow: #f84b2c;
	--support-outer-glow: var(--accent);
	--support-t-hov: var(--internal-link);
	--support-inner-glow-hov: #3f34b8;
	--support-outer-glow-hov: #24b1b6;
	--playlist-btn-f: var(--accent);
	--playlist-btn-t: var(--secondary);
	--playlist-btn-hover-f: #ffffff;
	--playlist-btn-hover-t: black;
	--playlist-header: black;
	--playlist-item: #141414;
	--playlist-select-back: #232425;
	--playlist-hover-f: var(--txt);
	--playlist-hover-t: var(--secondary);
	--bcampLink: #236dce;
	--logo-form: #000000;
	--logo-int: #2af2a5;
	--logo-stroke: 1rem;
	--social-icon: var(--txt);
	--active-theme: 1;
}
.mode-light {
	--background: #e8e9e0;
	--secondary: #ffffff;
	--txt: #29292e;
	--accent: #af3727;
	--internal-link: #33ffbb;
	--header-f: #cac5b6;
	--header-t: var(--txt);
	--header-link: var(--accent);
	--footer-f: var(--accent);
	--footer-t: var(--playlist-hover-t);
	--theme-f: #ceb19b;
	--theme-t: #000000;
	--nav-current: #8f5f5f;
	--pledge-f: #d6d2af;
	--support-t: #c52828;
	--support-inner-glow: #f77a7a;
	--support-outer-glow: #ffd4ca;
	--support-t-hov: #9359a0;
	--support-inner-glow-hov: #eb9abf;
	--support-outer-glow-hov: #f089e6;
	--playlist-btn-f: #f1d087;
	--playlist-btn-t: black;
	--playlist-btn-hover-f: #ffdf28;
	--playlist-btn-hover-t: black;
	--playlist-header: #c4b187;
	--playlist-item: #d6d2af;
	--playlist-select-back: #b3ac89;
	--playlist-hover-f: var(--accent);
	--playlist-hover-t: var(--secondary);
	--bcampLink: var(--accent);
	--logo-form: #000000;
	--logo-int: #2af2a5;
	--logo-stroke: 0;
	--social-icon: #000000;
	--active-theme: 2;
}
.mode-contrast {
	--background: #ffffff;
	--secondary: #dfdfdf;
	--txt: #000000;
	--accent: #236dce;
	--internal-link: #33ffbb;
	--header-f: #000000;
	--header-t: #ffffff;
	--header-link: #93c2ff;
	--footer-f: #ffffff;
	--footer-t: #000000;
	--theme-f: #ffffff;
	--theme-t: #000000;
	--nav-current: var(--playlist-select-back);
	--pledge-f: var(--background);
	--support-t: #4e389e;
	--support-inner-glow: #b090fc;
	--support-outer-glow: #f8c4fc;
	--support-t-hov: #2a57b9;
	--support-inner-glow-hov: #84cce9;
	--support-outer-glow-hov: #bff8f4;
	--playlist-item: var(--background);
	--playlist-btn-f: var(--background);
	--playlist-btn-t: var(--txt);
	--playlist-btn-hover-f: var(--accent);
	--playlist-btn-hover-t: white;
	--playlist-select-back: #d2d8ce;
	--playlist-hover-f: #105cbe;
	--playlist-hover-t: var(--background);
	--bcampLink: var(--accent);
	--logo-form: #000000;
	--logo-int: #2af2a5;
	--logo-stroke: 0;
	--social-icon: var(--txt);
	--active-theme: 3;
}


/* [### ↓ TOP LEVEL TAGS ↓ ###] */
html {
	min-height: 100vh;
	height: fit-content;
	scroll-behavior: smooth;
}
body {
	margin:0;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	background-color: var(--background);
	color: var(--txt);
	font-family: "Rubik", serif;
}
main {
	max-width: 56rem;
	text-align: center;
	margin: auto;
	flex-grow: 1;
}
h1 { font-size: 3em }


/* [### ↓ NAV MENUS ↓ ###] */
header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	background-color: var(--header-f);
	color: var(--header-t);
	padding: .2rem 2rem;
	font-family: "Roboto Mono", serif;
	font-size: .8rem;
	max-height: 2.6rem;
	border-bottom: .15rem solid black;

	nav {
		:has(:not(a)) { color: var(--nav-current) }

		a {
			text-decoration: none;
			color: var(--header-t);
		}
		a:hover, a:focus-visible { color: var(--header-link) }
		ul {
			list-style: none;
			padding: 0;
			li { display: inline-block }
		}
	}
	themes {
		display: flex;
		flex-direction: row;
		align-items: center;
		gap: .4rem;
		position: relative;
		> button {
			font-family: "Roboto Mono", serif;
			display: block;
			height: 2.19rem;
			border: .1rem solid black;
			background-color: var(--theme-f);
			color: var(--theme-t)
		}
		> button:hover {
			opacity: .8;
		}
		
		ul {
			padding: 0;
			border-radius: .2rem;
			display: flex;
			background-color: var(--header-f);
			li {
				list-style: none;
				display: flex;
				flex-direction: column;
				align-items: center;

				button {
					z-index: 1;
					aspect-ratio: 1;
					padding: .4rem;
					border: .1rem solid black;
					svg { width: 1.2rem }
				}
				tip {
					display: block;
					position: absolute;
					top: 1rem;
					padding: .4rem;
					background-color: white;
					color: black;
					border: .13rem solid black;
					opacity: 0;
					transition: .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
					z-index: -1;
				}
			}
			li:hover, li:has(button:focus-visible) { tip { display: block; opacity: 1; top: 4rem } }
		}
	}
}


/* [### ↓ FOOTER ↓ ###] */

footer {
	background-color: var(--secondary);
	color: var(--txt);
	width: calc(100% - 1rem);
	height: max-content;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	margin-top: 4rem;
	padding: .5rem;
	bottom: 0;

	p {
		display: flex-inline;
		justify-content: space-evenly;
		margin: auto;
		line-height: 1.8rem;
		font-family: "Roboto Mono", serif;
		font-size: .9em;

		a {
			color: var(--accent);
			padding: .2rem .5rem;
			border-radius: .2rem;
		}
		a:hover, a:focus-visible {
			background-color: var(--footer-f);
			color: var(--footer-t);
			text-decoration: none;
		}
	}
	logo {
		margin: auto;
		width: 4rem;
		padding: 0 2rem;
		
		#shell {
			fill: var(--logo-form);
			stroke: #ffffff;
			stroke-width: var(--logo-stroke);
		}
		#interior { fill: var(--logo-int) }
	}
	socials {
		display: inline-block;
		text-align: center;
		margin: 2em auto;
		white-space: nowrap;
		display: flex;
		flex-direction: row;

		svg {
			cursor: pointer;
			transition: .4s ease;
			margin: 0;
			padding: .4em;
			height: 1.1em;
			fill: var(--social-icon);
		}
		a:focus-visible svg, a:hover svg {
			fill: var(--accent);
			transform: translateY(-.2em);
		}
		tooltip {
			display: flex;
			flex-direction: column;
			align-items: center;
			position: relative;

			span {
				visibility: hidden;
				opacity: 0;
				font-size: .8rem;
				font-weight: 500;
				background-color: var(--tooltip-f);
				color: var(--tooltip-t);
				text-align: center;
				border-radius: .3rem;
				padding: .3em .6em;
				transition: .15s ease;

				display: block;
				position: absolute;
				top: -2em;
			}
		}
		tooltip:hover span, tooltip:has(a:focus-visible) span {
			visibility: visible;
			opacity: 1;
			transition: .4s ease;
			transform: translateY(-.2em);
		}
	}
}


/* [### ↓ BUTTONS ↓ ###] */

button {
	cursor: pointer;
	border: none;
	transition: .3s ease;
}


/* [### ↓ SUPPORT LINKS ↓ ###] */

support {
	display: inline-block;

	a {
		display: flex;
		flex-direction: row;
		align-content: center;
		height: fit-content;
		padding: .4em .4em;
		text-decoration: none;
		color: var(--support-t);
		transition: .15s ease-in-out;
		text-shadow:
			0 0 .8em var(--support-inner-glow),
			0 0 .2em var(--support-outer-glow);

		strong {
			display: inline;
			position: relative;
			animation: bounce 1s ease-in-out 0s infinite alternate-reverse;
		}
	}
}
support:hover > a, support > a:focus-visible {
	color: var(--support-t-hov);
	text-shadow:
		0 0 .8em var(--support-inner-glow-hov),
		0 0 .2em var(--support-outer-glow-hov);
}


/* [### ↓ DARK HIGHLIGHT LINKS ↓ ###]
(commonly used in media/info sources) */
.dark-link {
	color: #7ff5ce;
	background: #203c3c;
	border-radius: .3em;
	padding: 0 .4em;
	border: .15em solid black;
	text-decoration: none;
}
.dark-link a:hover {
	background: var(--internal-link);
	color: black;
	border: .2em solid black;
}


/* [### ↓ SELECTION / HIGHLIGHT ↓ ###] */

::selection {
	background: #111111; color: #ffdc3e; }
::-moz-selection {
	background: #111111; color: #ffdc3e; }

/* [### ↓ STYLE MODULES ↓ ###] */

.hidden { display: none; opacity: 0; }
.mono { font-family: roboto mono, courier new, monospace; }
.cutout { outline-style: dashed; outline-offset: -.125rem; outline-width: .125rem; }
.extrude { border: .2rem solid black; box-shadow: .125rem .125rem black; }
.outline { border: .2rem solid black; }


/* [### ↓ IMPORTED FONTS ↓ ###] */

.roboto-400 {
	font-family: "Roboto", serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
	font-variation-settings:
	  "wdth" 100;
}
.rubik-400 {
	font-family: "Rubik", serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
}
.roboto-mono-400 {
	font-family: "Roboto Mono", serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
}
.roboto-condensed-400 {
	font-family: "Roboto Condensed", serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
}


/* [### ↓ ANIMATION PRESETS ↓ ###] */

@keyframes bounce {
	0%  { top:-.2em }
	100% { top:.2em }
}
@keyframes error {
	from { background-color: #ff0000 }
	to { background-color: #131313 }
}
@keyframes a-btn-color {
	0% { background-color: var(--playlist-btn-f);
		 color: var(--playlist-btn-t); }
	100% { background-color: var(--playlist-btn-hover-f);
		   color: var(--playlist-btn-hover-t); }
}
@keyframes a-shake {
	0% { transform: translatex(0) }
	33% { transform: translatex(-.03rem) }
	66% { transform: translatex(.06rem) }
	100% { transform: translatex(0) }
}


/* [### ↓ DISPLAY: MOBILE ↓ ###] */
@media screen and (max-width: 41.5rem) {
	body { font-size: .9rem }
	main { width: 90vw }
	h1 { font-size: 2em; margin-top: 1em }
	footer {
		flex-direction: column;
		p { text-align: center; margin: 1rem auto; line-height: 2rem; }
		img { margin: auto }
	}
}


/* [### ↓ DISPLAY: >1080p ↓ ###] */
@media screen and (min-width: 121em) {
	main { width: 90vw }
}