/*	* {border: 1px solid red}

/*_____________________
 |__ COLOR PALETTES __|
*/
:root {
	--background: #26292e;
	--secondary: #000000;
	--txt: #ffffff;
	--accent: #ffdd33;
	--internal-link: #33ffbb;
	--nav-current: #bec3c4;
	--nav-fill: var(--secondary);
	--nav-border: none;
	--pledge: #2d4f63;
	--playlist-item: #141414;
	--playlist-btn: var(--accent);
	--playlist-btn-hover: var(--txt);
	--playlist-select-back: #363420;
	--playlist-hover-back: var(--txt);
	--playlist-hover-txt: var(--secondary);
	--bcampLink: #236dce;
	--logo-form: #000000;
	--logo-int: #2af2a5;
	--logo-stroke: 1rem;
	--social-icon: var(--txt);
	--active-theme: 1;
}
.mode-light {
	--background: #e8e9e0;
	--secondary: #ffffff;
	--txt: #29292e;
	--accent: #af3727;
	--internal-link: #33ffbb;
	--nav-current: #8f5f5f;
	--nav-fill: var(--secondary);
	--nav-border: none;
	--pledge: #d6d2af;
	--playlist-item: #d6d2af;
	--playlist-btn: #ffdd33;
	--playlist-btn-hover: var(--accent);
	--playlist-select-back: #b3ac89;
	--playlist-hover-back: var(--accent);
	--playlist-hover-txt: var(--secondary);
	--bcampLink: var(--accent);
	--logo-form: #000000;
	--logo-int: #2af2a5;
	--logo-stroke: 0;
	--social-icon: #000000;
	--active-theme: 2;
}
.mode-contrast {
	--background: #ffffff;
	--secondary: #dfdfdf;
	--txt: #000000;
	--accent: #236dce;
	--internal-link: #33ffbb;
	--nav-current: #256ca5;
	--nav-fill: white;
	--nav-border: .15rem solid black;
	--pledge: var(--background);
	--playlist-item: var(--background);
	--playlist-btn: var(--background);
	--playlist-btn-hover: var(--accent);
	--playlist-select-back: #ced6cb;
	--playlist-hover-back: #105cbe;
	--playlist-hover-txt: var(--background);
	--bcampLink: var(--accent);
	--logo-form: #000000;
	--logo-int: #2af2a5;
	--logo-stroke: 0;
	--social-icon: var(--txt);
	--active-theme: 3;
}

@media (prefers-color-scheme: light) {
	body {
		background: var(--background);
		color: var(--txt);
	}
	nav {
		background-color: white;
		a { color: black }
		a:hover { color: rgb(0, 141, 184) }
	}
	footer {
		background-color: #ffffff;
		color: black;
		img { filter: invert() }
		p > a { color: black }
	}
}

/*____________________
 |__ PAGE DEFAULTS __|
*/
html {
	min-height: 100vh;
	height: fit-content;
	scroll-behavior: smooth;
}


/*_________________________________
 |__ CONSTRAINED CONTENT COLUMN __|
*/
main {
	text-align: center;
	width: 75vw;
	max-width: 56rem;
	margin: auto;
}

body {
	margin:0;
	background-color: var(--background);
	color: var(--txt);
}


/*________________________
 |__ TOP LEFT NAV MENU __|
*/
nav {
	border-radius: .2rem;
	padding: .2rem .7rem;
	margin-top: -.5rem;
	font-size: .75rem;
	display: inline-block;
	position: absolute;
	top: 1rem;
	left: .8rem;
}
	nav span {
		color: #90a0a5;
	}
	nav a {
		text-decoration: none;
		color: var(--txt);
	}
	nav a:hover {
		color: var(--link);
	}
.nav-mobile {
	display: none;
	position: static;
	margin: 0 auto;
	font-size: .8rem;
}
.nav-mobile a:active {
	color: var(--accent);
}


#theme {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 2em;
	width: 5em;
	padding: .2em;
	border-radius: .5em;
	border: none;
	position: fixed;
	top: 20px;
	right: 20px;
	background-color: var(--txt);
	opacity: .8;

	svg {
		fill: var(--background);
		padding: 0 .1rem;
	}
}


/*___________________
 |__ SOCIAL LINKS __|
*/
footer {
	width: calc(100% - 1rem);
	height: max-content;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	margin-top: 4rem;
	padding: .5rem;
	background-color: var(--secondary);
	color: var(--txt);

	p {
		display: flex-inline;
		justify-content: space-evenly;
		margin: auto;
		line-height: 1.8rem;

		a {
			color: var(--accent);
			padding: .2rem .5rem;
			border-radius: .2rem;
		}
		a:hover {
			background-color: var(--accent);
			color: var(--playlist-hover-txt);
		}
	}
	a {
		color: var(--accent);
	}
	a:hover {
		color: var(--internal-link);
	}
}
footer > logo {
	margin: auto;
	width: 4rem;
	padding: 0 2rem;
	
	#shell {
		fill: var(--logo-form);
		stroke: #ffffff;
		stroke-width: var(--logo-stroke);
	}
	#interior {
		fill: var(--logo-int)
	}
}
socials {
	display: inline-block;
	text-align: center;
	margin: 2rem auto;
	white-space: nowrap;

	svg {
		cursor: pointer;
		transition: .4s ease;
		margin: 0;
		padding: .4rem;
		height: 1.1rem;
		fill: var(--social-icon);
	}
	svg:hover, svg:active {
		fill: var(--accent);
		transform: translateY(-.2em);
	}
}


/*_______________
 |__ TOOLTIPS __|
*/
.tooltip {
	position: relative;
	display: inline-block;
}
.tooltip .tooltip-text {
	visibility: hidden;
	opacity: 0;
	width: 5rem;
	font-size: .8rem;
	font-weight: 500;
	background-color: white;
	color: black;
	text-align: center;
	border-radius: .3rem;
	padding: .2rem 0;
	transition: .15s ease;

	position: absolute;
	z-index: 1;
	top: -1.5rem;
	left: 50%;
	margin-left: -40px;
}
.tooltip:hover .tooltip-text {
	visibility: visible;
	opacity: 1;
	transition: .4s ease;
}


/*______________
 |__ BUTTONS __|
*/
button {
	cursor: pointer;
	border: none;
	transition: .3s ease;
}


/*_____________________________
 |__ ANIMATED SUPPORT LINKS __|
*/
.support-link {
	color: var(--accent);
	font-weight: 600;
	text-decoration: none;
	position: relative;
	animation: bounce 1s ease-in-out 2s infinite;
}
.support-link:hover {
	color: var(--internal-link);
}


/*___________________________
 |__ DARK HIGHLIGHT LINKS __|
 (commonly used in media/info sources)
*/
.dark-link {
	color: #7ff5ce;
	background: #203c3c;
	border-radius: .3em;
	padding: 0 .4em;
	border: .15em solid black;
	text-decoration: none;
}
.dark-link a:hover {
	background: var(--internal-link);
	color: black;
	border: .2em solid black;
}


/*____________________________
 |__ SELECTION / HIGHLIGHT __|
*/
::selection {
	background: #111111; color: #ffdc3e; }
::-moz-selection {
	background: #111111; color: #ffdc3e; }


/*______________________
 |__ COLOR PALLETTES __|
*/
.slate { background-color: #141414; color: #bdaa84; }
.islate { background-color: #bdaa84; color: #141414; }
.dslate { background-color: #64553a; color: #e6e5e2; }
.bee { background:#f1e31e; color: black; }
.danger { background:#6b2520; color: white; }
.splash { background:#3fbfe6; color: black; }
.mint { background:var(--internal-link); color: black; }
.forrest { background:#92c2ac; color: black; }
.testing { background:#f51b1b; color: black; }
.newspaper { background:#e6e5e2; color: #141414; }
.inewspaper { background: #141414; color: #e6e5e2; }
.dark { background: #000000; color: #e6e5e2; }


/*____________________
 |__ STYLE MODULES __|
*/
.hidden { display: none; }
.mono { font-family: roboto mono, courier new, monospace; }
.cutout { outline-style: dashed; outline-offset: -.125rem; outline-width: .125rem; }
.extrude { border: .2rem solid black; box-shadow: .125rem .125rem black; }
.outline { border: .2rem solid black; }


/*_____________________
 |__ IMPORTED FONTS __|
*/
.roboto-400 {
	font-family: "Roboto", serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
	font-variation-settings:
	  "wdth" 100;
}
.rubik-400 {
	font-family: "Rubik", serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
}
.roboto-mono-400 {
	font-family: "Roboto Mono", serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
}
.roboto-condensed-400 {
	font-family: "Roboto Condensed", serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
}


/*________________________
 |__ ANIMATION PRESETS __|
	-> bounce: support links
	-> error: invalid source search
*/
@keyframes bounce {
	0%  {top:0;}
	50%  {top:-.25rem;}
	100% {top:0;}
}
@keyframes error {
	from {background-color: #ff0000;}
	to {background-color: #131313;}
}


/*______________________
 |__ SCREENS: MOBILE __|
*/
@media screen and (max-width: 41.5rem) {
	main { width: 90vw; }
	#theme {
		top: 2.2rem;
		right: calc(50% - 2rem);
	}
	#theme:hover, #theme:focus-visible {
		transform: translateY(-.2em);
	}
	#theme:active {
		transform: translateY(.1em);
	}
	.nav-desktop { display: none; }
	.nav-mobile { display: block; }
	h1 { margin-top: 2.6rem }
	.gallery { width: 28%; }
	footer {
		flex-direction: column;
		p { text-align: center; margin: 1rem auto; line-height: 2rem; }
	}
	footer > img { margin: auto }
}


/*______________________
 |__ SCREENS: >1080p __|
*/
@media screen and (min-width: 121em) {
	main {
		width: 90vw;
	}
}