main { width: 80vw }
section { width: 100% }

music {
	display: flex;
	align-items: center;
	margin: auto;
	gap: 0 .6rem;

	iframe {
		border: 0;
		width: 50%;
		height: 27.8rem;
		aspect-ratio: 1/1;
		border-radius: .5rem;
	}
	ul {
		display: block;
		min-width: 16rem;
		width: 28rem;
		line-height: 2rem;
		margin: 1rem auto;
		padding: 0;
		border-radius: .5rem;
		background-color: var(--playlist-item);
		color: var(--txt);

		li {
			list-style: none;
			border-bottom: solid 1px black;
			display: flex;
			gap: 8rem;
			position: relative;
			padding: .4rem 1.4rem;
			transition: .1s ease;
			text-align: left;
			text-decoration: none;

			a {
				cursor: pointer;
				color: var(--txt);
				display: inline-block;
				position: absolute;
				right: .8rem;
				width: 6rem;
				border: .12rem solid var(--txt);
				border-radius: .2rem;
				transition: .2s ease;

				text-decoration: none;
				text-wrap: nowrap;
				text-align: center;
				font-family: "Roboto Mono", serif;
				font-size: .8rem;
			}
			a:hover, a:focus-visible {
				animation:
					perma-c 0s forwards,
					list-b 0s forwards;
				transform: translateY(-.2rem);
			}
			a:active { transform: translateY(.1rem) }
			a:not(:any-link) {
				cursor: not-allowed;
				filter: saturate(0);
			}
			a:not(:any-link):hover, a:not(:any-link):active {
				animation: a-shake .2s cubic-bezier(0.165, 0.84, 0.44, 1) 0s infinite forwards;
			}
		}
		li:hover {
			background-color: hsl(from var(--playlist-hover-f) h s l / 0.1)
		}
		li:has(:not(:any-link)) { opacity: .4 }
	}
}

perma {
	a {
		cursor: pointer;
		background-color: var(--playlist-item);
		color: var(--txt);
		display: inline-block;
		width: 4rem;
		margin: .2rem auto 0;
		padding: .3rem .7rem;
		border: .18rem solid black;
		border-radius: .2rem;
		transition: .2s ease;

		text-decoration: none;
		text-wrap: nowrap;
		text-align: center;
		font-family: "Roboto Mono", serif;
		font-size: .8rem;
	}
	a:hover, a:focus-visible {
		animation: 0s ease 0s forwards perma-c;
		transform: translateY(-.2rem);
	}
	a:active { transform: translateY(.1rem) }
}

grid {
	margin-top: 0.8rem;
	padding: .1rem;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	gap: 0 1rem;

	grid-item {
		display: block;
		cursor: pointer;
		width: calc(20% - 1rem);
		text-align: left;
		transition: .3s ease;
		border-radius: .4rem;
		padding-bottom: 1rem;

		button {
			padding: 0;
			background-color: unset;
			margin-bottom: .6em;
			border-radius: .4rem;

			img {
				width: 100%;
				aspect-ratio: 1/1;
				
				object-fit: cover;
				background: black;
				border: 2px solid black;
			}
		}
		button:hover, button:focus-visible { transform: translateY(-.2em) }
		button:active { transform: translateY(.1em) }
		time, info {
			display: block;
			opacity: 80%;
		}
		strong {
			color: var(--txt);
			font-weight: 500;
		}
	}
	grid-item:hover {
		color: var(--accent);
		opacity: 90%;
		transform: scale(96%);
	}
}


@keyframes perma-c {
	0% {
		background-color: var(--playlist-item);
		color: var(--txt)
	}
	100% {
		background-color: var(--accent);
		color: var(--background);
	}
}
@keyframes list-b {
	0% { border: .12rem solid var(--txt) }
	100% { border: .12rem solid black }
}

/* [### ↓ DISPLAY: MOBILE ↓ ###] */

@media screen and (max-width: 51rem) {
	
	grid {
		gap: 0 3.6%;
		grid-item { width: 30.9% }
	}
	music {
		flex-direction: column;
		iframe { width: 100% }
		ul { width: 100% }
	}
}

/* [### ↓ DISPLAY: >1080p ↓ ###] */

@media screen and (min-width: 121em) {
	grid-item {
		width: 30%;
		font-size: 2.4rem;

		time { font-size: 2rem }
	}
}