main {
	width: 100%;
}
section {
	width: fit-content;
	display: block;
	margin: auto;
}

h1 {
	margin: 3rem auto 0;
}
p {
	margin: .4rem 0 2rem;
	font-family: "Roboto Mono", serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
	font-size: .9rem;

	a { color: var(--accent) }
}

music {
	display: block;
	width: 28rem;
	margin: 0 auto;

	iframe {
		border: 0;
		width: 100%;
		aspect-ratio: 1/1.6;
		border-radius: .5rem;
	}
}

section {
	ul {
		display: block;
		width: 28rem;
		line-height: 2rem;
		margin: 1rem auto;
		padding: 0;
		border-radius: .5rem;
		background-color: var(--playlist-item);
		color: var(--txt);

		li {
			list-style: none;
			border-bottom: solid 1px black;
			display: flex;
			gap: 8rem;
			position: relative;
			padding: .4rem 1.4rem;
			transition: .1s ease;
			text-align: left;
			text-decoration: none;

			span {
				color: yellow;
			}
			a {
				cursor: pointer;
				color: var(--txt);
				display: inline-block;
				position: absolute;
				right: .8rem;
				width: 6rem;
				border: .12rem solid var(--txt);
				border-radius: .2rem;

				overflow: hidden;
				text-decoration: none;
				text-wrap: nowrap;
				text-align: center;
				font-family: "Roboto Mono", serif;
				font-optical-sizing: auto;
				font-weight: 400;
				font-style: normal;
				font-size: .8rem;
			}
			a:hover, a:focus-visible {
				background-color: var(--accent);
				color: var(--background);
				border: .12rem solid black;
				animation:
					.5s ease .2s forwards a-lift;
			}
			a:active { transform: translateY(.1rem) }
		}
		li:hover {
			background-color: hsl(from var(--playlist-hover-back) h s l / 0.1)
		}
	}
}
.disabled-link {
	cursor: not-allowed;
	filter: saturate(0);
}
.disabled-link:hover, .disabled-link:active {
	animation: a-shake .2s cubic-bezier(0.165, 0.84, 0.44, 1) 0s infinite forwards;
}
.disabled {
	opacity: .4;
}


@keyframes perma-c {
	0% {
		background-color: var(--playlist-item);
		color: var(--txt)
	}
	100% {
		background-color: var(--accent);
		color: var(--background);
	}
}
@keyframes list-b {
	0% {
		border: .12rem solid var(--txt)
	}
	100% {
		border: .12rem solid black
	}
}

/*______________________
 |__ SCREENS: MOBILE __|
*/
@media screen and (max-width: 41.5rem) {
	/* main { background-color: red; } */
	music {
		width: 18rem;

		iframe {
			aspect-ratio: 1/2;
		}
	}
	section {
		ul {
			width: 100%
		}
	}
}