main {
	width: 80vw;
}
section {
	width: 100%;
}
nav ul li { display: inline }
h1 {
	margin: 3rem auto 0;
}
p {
	margin: .4rem 0 2rem;
	font-family: "Roboto Mono", serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
	font-size: .9rem;

	a { color: var(--accent) }
}

music {
	display: flex;
	align-items: flex-start;
	margin: auto;
	gap: 1rem .6rem;

	iframe {
		border: 0;
		width: 50%;
		aspect-ratio: 1/1.6;
		border-radius: .5rem;
	}
	ul {
		display: block;
		min-width: 13rem;
		width: 28rem;
		line-height: 2rem;
		font-size: 1rem;
		margin: 0 auto;
		padding: 0;
		border-radius: .5rem;
		background-color: var(--playlist-item);
		color: var(--txt);

		li {
			list-style: none;
			border-bottom: solid 1px black;
			gap: 8rem;
			position: relative;
			padding: .4rem 1.4rem;
			transition: .1s ease;
			text-align: left;
			text-decoration: none;

			span {
				color: yellow;
			}
			a {
				cursor: pointer;
				color: var(--txt);
				display: inline-block;
				position: absolute;
				right: .8rem;
				width: 6rem;
				border: .12rem solid var(--txt);
				border-radius: .2rem;
				transition: .2s ease;

				overflow: hidden;
				text-decoration: none;
				text-wrap: nowrap;
				text-align: center;
				font-family: "Roboto Mono", serif;
				font-size: .8rem;
			}
			a:hover, a:focus-visible {
				animation:
					perma-c 0s forwards,
					list-b 0s forwards;
				transform: translateY(-.2rem);
			}
			a:active { transform: translateY(.1rem) }
		}
		li:hover {
			background-color: hsl(from var(--playlist-hover-back) h s l / 0.1)
		}
	}
}
.disabled-link {
	cursor: not-allowed;
	filter: saturate(0);
}
.disabled-link:hover, .disabled-link:active {
	animation: a-shake .2s cubic-bezier(0.165, 0.84, 0.44, 1) 0s infinite forwards;
}
.disabled {
	opacity: .4;
}


@keyframes perma-c {
	0% {
		background-color: var(--playlist-item);
		color: var(--txt)
	}
	100% {
		background-color: var(--accent);
		color: var(--background);
	}
}
@keyframes list-b {
	0% {
		border: .12rem solid var(--txt)
	}
	100% {
		border: .12rem solid black
	}
}

/*______________________
 |__ SCREENS: MOBILE __|
*/
@media screen and (max-width: 51rem) {
	music {
		flex-direction: column;
		gap: 1rem .6rem;
		iframe { width: 100% }
		ul {
			width: 100%;
		}
	}
}
@media screen and (max-width: 28rem) {
	music {
		ul {
			font-size: .85rem;
			li {
				padding: .4rem .8rem;
				a {
					font-size: .7rem;
					width: 4.8rem;
					right: .5rem;
					border-radius: .3rem;
				}
			}
		}
	}
}