.roboto-400 {
	font-family: "Roboto", serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
	font-variation-settings:
	  "wdth" 100;
}
.rubik-400 {
	font-family: "Rubik", serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
}
.roboto-mono-400 {
	font-family: "Roboto Mono", serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
}
.roboto-condensed-500 {
	font-family: "Roboto Condensed", serif;
	font-optical-sizing: auto;
	font-weight: 500;
	font-style: normal;
}

html {
	scroll-behavior: smooth;
	background-color: #22282e;
}

* { box-sizing: border-box; }
/* * { border: 1px solid red }
*/

.label { font-size: 80%; }

.input { width:100%; }

.row {
	display: flex;
	width: 100%;
}
.button-row {
	width: 100%;
	padding-left: 12.85rem;
}

.buttons-top {
	text-align: center;
	position: sticky;
	top: 0;
	padding: 1rem;
	margin-top: .5rem;
}
.buttons-bottom {
	text-align: center;
	position: sticky;
	bottom: 0;
	padding: 1rem;
	z-index: 1;
}

.button-group {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	width: 4em;
	margin: 1.05em 0 0 1em;
}

button {
	border: none;
	border-radius: .13rem;
	background:#e6e5e2;
	color: #141414;
	padding: .2rem .8rem;
	margin: 0 .1rem;
	font-size: .9rem;
	cursor: pointer;
}
button:hover {
	background: #FFDB12;
	color: #141414;
}
.btn-export {
	background: #43f5c8;
}
.danger {
	background: #e6e5e2;;
	color: #ee2719;
}
.danger:hover {
	background: #ff2314;
	color: white;
}

.hidden { display: none; }

.processing {
	text-align: center;
	width: 8em;
	position: fixed;
	left: 2em;
	bottom: 2em;
	background-color: white;
	color: black;
	z-index: 2;
}

::placeholder {
	background-color: #575d61;
	color: white;
	opacity: .4;
}