/* [### ↓ COLOR THEMES ↓ ###] */
:root {
	--synopsis-fill: var(--playlist-item);
	--synopsis-txt: #bdaa84;
	--correction-fill: #6b2520;
	--correction-txt: #ffffff;
	--source-fill: #c4b596;
	--source-txt: var(--playlist-item);
	--h2-fill: #141414;
	--h2-txt: #e6e5e2;
	--btn-fill: var(--accent);
	--btn-txt: #000000;
	--patreon-fill: #000000;
	--patreon-txt: #ffffff;
	--credits-fill: #000000;
	--credits-txt: var(--synopsis-txt);
	--credits-name-fill: #ffffff;
	--credits-name-txt: #000000;
}
.mode-light {
	--source-fill: var(--playlist-item);
	--source-txt: var(--txt);
	--synopsis-fill: #ced6cb;
	--synopsis-txt: var(--txt);
	--correction-fill: #b0cfaf;
	--correction-txt: #000000;
	--h2-fill: var(--playlist-select-back);
	--h2-txt: #141414;
	--btn-fill: var(--accent);
	--btn-txt: white;
	--patreon-fill: var(--source-fill);
	--patreon-txt: var(--source-txt);
	--credits-fill: var(--source-fill);
	--credits-txt: var(--txt);
	--credits-name-fill: #ffffff;
	--credits-name-txt: #000000;
}
.mode-contrast {
	--source-fill: white;
	--source-txt: black;
	--synopsis-fill: var(--playlist-item);
	--synopsis-txt: var(--txt);
	--correction-fill: #ebebeb;
	--correction-txt: #000000;
	--h2-fill: var(--secondary);
	--h2-txt: var(--text);
	--btn-fill: hsl(from var(--accent) h s 40 / 1);
	--btn-txt: white;
	--patreon-fill: var(--source-fill);
	--patreon-txt: var(--source-txt);
	--credits-fill: #ffffff;
	--credits-txt: #000000;
	--credits-name-fill: #e4e4e4;
	--credits-name-txt: #000000;
}

/* [### ↓ TOP LEVEL TAGS ↓ ###] */
body {
	width: unset;
}
main {
	display: grid;
	grid-template-columns: repeat(12, [col-start] 1fr);
	width: 100%;
	max-width: 90rem;

	section {
		h2 {
			background-color: var(--h2-fill);
			color: var(--h2-txt);
			text-align: center;
			margin: 0 0 -3px;
			padding: .15rem 0;
			border: .2rem solid black;
		}
	}
}
h1 {
	margin: 0;
	padding: 2rem 0 1rem;
}


aside {
	grid-column: 2 / 3;
	display: inline-block;
	position: sticky;
	top: 0;
	max-height: max-content;
	padding: 1rem;
	margin-top: 5.6rem;
	height: fit-content;

	toc {
		display: inline-block;
		font-size: .8rem;
		line-height: 1.5rem;
		padding: .4rem 1rem 1rem;
		border-radius: .3rem;
		background-color: var(--header-fill);
		color: var(--header-txt);

		h2 { font-size: 1rem; margin: .4rem; }
		hr { border: 1px solid }
		ul {
			padding: unset;
			margin: unset;
			list-style: none;
			li {
				a {
					color: var(--header-txt);
					text-decoration: none;
				}
				a:hover {
					color: var(--accent);
				}
			}
			
		}
	}
}
aside li[data-current] > a {
	color: var(--nav-current);
}
aside:not(:hover) li:not([data-current]) > a {
	opacity: 1;
}

time {
	font-family: "Roboto Mono", serif;
}
container {
	display: block;
	background-color: var(--source-fill);
	color: var(--source-txt);
	border: .2rem solid black;
}

#youtube {
	display: block;
	background-color: black;
	border-radius: 1rem 1rem 0 0;
	border: .2rem solid black;
	aspect-ratio: 2;
	width: calc(100% - .4rem);
	height: 100%;
	margin-top: -.6rem;
}
synopsis {
	background-color: var(--synopsis-fill);
	color: var(--synopsis-txt);
	padding: 1rem 1rem;
	font-size: .9rem;
	line-height: 1.3rem;
	border: .2rem solid black;
	margin-top: -1.1em;
}


/* [### ↓ CORRECTIONS ↓ ###] */
corrections, clarifications {
	background-color: var(--correction-fill);
	color: var(--correction-txt);
	border: .2rem solid black;
	padding: .2rem 1rem 0 0;
	margin-top: 0;
	text-align: left;

	h4 {
		text-align: center;
		margin: .5rem 0 0;
	}
	ul {
		display: inline-block;
		padding: 0 1.4rem;
		margin: .5rem 0 1rem;
		line-height: 1.4rem;
		list-style-type: none;
		border-left: .6rem solid black;

		a {
			font-size: .75rem;
			font-weight: 500;
			margin-right: .3rem;
			color: #7ff5ce;
			background-color: #000000;
			border-radius: .25rem;
			padding: 0 .25rem;
			border: .15rem solid #000000;
			text-decoration: none;
		}
		a:hover {
			background-color: #33ffbb;
			color: black;
			border: .15rem solid black;
		}
		span {
			font-size: .8rem;
			font-style: italic;
		}
	}
}

/* [### ↓ SOURCES ↓ ###] */
sources-info {
	height: 100%;
	min-width: 12em;

	container {
		height: fit-content;
		min-height: 12rem;
		max-height: 24.3rem;
		overflow-y: auto;
		scroll-padding-top: 1rem;
		text-align: left;
		padding: 0 1rem;
	}
}

citation {
	display: block;
	margin: 1em 0 0;

	number {
		display: inline-block;
		text-align: center;
		background-color: #141414;
		color: white;
		font-size: .8rem;
		padding: .2em 1em;
		border-radius: 3px 3px 0 0;
	}
	number:has(+ multi) {
		margin-left: 2.1rem;
	}
	blockquote {
		margin: 0;
		padding: .3rem .6rem;
		border: 2px solid;
		background: white;

		time {
			display: block;
			font-size: .7rem;
			line-height: 1.5rem;
			margin-top: .2rem;
			padding-left: 1rem;
		}
	}
	info {
		display: block;
		line-height: 1.3rem;
		margin: 1rem 0 2rem 2rem;

		cite {
			display: block;
			font-style: initial;
			font-size: 1.2rem;
		}
		info-details {
			display: block;
			font-size: 0.9rem;
			word-wrap: break-word;
		}
		origin {
			display: block;
			width: 100%;
			white-space: nowrap;
			text-overflow: ellipsis;
			overflow: hidden;
			font-size: .7rem;
		}
	}
	/* multi-cited aligns tab to source box*/
	tab-align {
		display: flex;
		align-items: center;
		margin: -2px 0 -2px 0;

		/* letter tab for citing the same source multiple times */
		tab-part {
			display: block;
			width: 15px;
			background: var(--h2-fill);
			color: var(--h2-txt);
			padding: .3rem .5rem;
			line-height: 2.2rem;
			font-size: 1.5rem;
			font-weight: 500;
			border: 2px solid black;
		}
		/* quote from the video that needs substantiating */
		blockquote {
			vertical-align: top;
			width: 100%;
			background: white;
			padding: .3rem .6rem;
			margin-left: -2px;
			border: 2px solid;
		}
	}
	a {
		background-color: var(--accent);
		color: var(--background);
		border-radius: .2rem;
		padding: 0 .2rem;
		border: .2em solid black;
		text-decoration: none;
		font-weight: 500;
	}
	a:hover {
		background-color: var(--txt);
		border: .2em solid black;
	}
}

sources-media {
	height: 100%;
	min-width: 12em;

	container {
		height: fit-content;
		min-height: 12rem;
		max-height: 24.3rem;
		overflow-y: auto;
		scroll-padding-top: 1rem;
		text-align: left;
		padding: 0 1rem;
	}
	anchor {
		display: flex;
		align-items: center;
		margin: 1em 0 0;
		font-size: .8rem;
		line-height: 1.2em;
	}
	indx {
		display: inline-block;
		background: #141414;
		color: #e6e5e2;
		width: 100%;
		margin-left: .4em;
		padding: .2em 1em;
		font-size: .8rem;
		border-radius: 3px;
	}
	time {
		display: inline-block;
		height: 1.2em;
	}
}


/* [### ↓ SEARCH SOURCES ↓ ###] */
form {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	height: 2.8em;
	margin: -3px 0 0;
	padding: 0 1em;
	background-color: #141414;
	border: 3px solid black;

	input {
		width: 4rem;
		text-align: center;
		font-size: 1.4rem;
	}
	button {
		width: 4rem;
		height: 2.02rem;
		margin: auto .5rem;
	}
}
.error {
	color: #e03b3b;
	animation: error 2s ease-in-out 0s;
}


/* [### ↓ BUTTONS ↓ ###] */
.details-grid {
	display: grid;
	grid-template-columns: auto 40%;
	grid-gap: .4em;
	margin: 0 auto;
}


/* [### ↓ MUSIC PREVIEW ↓ ###] */
music {
	background: #000000;
	
	height: 100%;
	min-height: 25rem;

	#bandcamp-player {
		border: 0;
		width: calc(100% - 6px);
		height: calc(100% - 8rem);
		margin-top: .2em;
	}
	download {
		display: block;
		color: #e6e5e2;
		text-align: center;
		margin: 1rem auto 0rem;
	}
}


/* [### ↓ CREDITS ↓ ###] */
credits {
	display: block;

	container {
		display: block;
		background: var(--credits-fill);
		color: var(--credits-txt);
		height: calc(100% - 3.6rem);
		padding-bottom: 1em;
	
		p {
			text-align: left;
			margin: 1em 1em 0;

			credit-name {
				background: var(--credits-name-fill);
				color: var(--credits-name-txt);
				display: block;
				font-size: 1.2rem;
				border-radius: .1rem;
				padding: 0 .4rem;
			}
			credit-role {
				display: block;
				font-size: .8rem;
				margin: .5rem;
			}
		}
	}
}


/* [### ↓ TRANSCRIPTION ↓ ###] */
transcription {
	container {
		padding: .2rem 0 1rem;
		background: var(--credits-fill);

		p {
			background:#e6e5e2;
			color: #141414;
			border: 2px solid black;
			height: 18rem;
			padding: 0 1rem;
			margin: 1rem 1rem;
			text-align: left;
			line-height: 1rem;
			font-size: .9rem;
			overflow-y: scroll;
		}
	}
}

/* [### ↓ PATREON REWARDS ↓ ###] */
rewards {
	display: block;
	width: 100%;
	max-width: 90vw;
	margin: 0 auto 0;

	container {
		display: block;
		padding-bottom: 1rem;
		background-color: var(--patreon-fill);
		color: var(--patreon-txt);
		
		p { margin-top: .6rem }
		items { display: block }
		bonus-entry {
			display: inline-block;
			height: max-content;
			width: 7rem;
			vertical-align: top;
			margin: .3em;
			transition: .2s ease;

			img {
				height: 7rem;
				aspect-ratio: 1;
				object-fit: cover;
				transition: .4s ease;
			}
			a { display: block; transition: .2s ease;}
			a:hover, a:focus-visible { transform: translateY(-.2em) }
			a:active { transform: translateY(.1em) }
			p { margin: .2rem 0 .4rem }
			time { font-size: .8rem }
			span { font-size: .9rem }
		}
		bonus-entry:hover, bonus-entry:focus-visible {
			opacity: 90%;
			transform: scale(96%);
			span { color: var(--accent) }
		}
	}
}

#bonusVideo {
	width: calc(100% - 2rem);
	aspect-ratio: 2/1;
	margin: 0 1rem 1rem;
}

/* [### ↓ FOOTER ↓ ###] */
footnav {
	width: 100%;
	text-align: center;
	padding: .8rem 0 1rem;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	font-size: 1.2rem;
	font-weight: 450;

	tooltip {
		display: inline-block;
		position: relative;

		span {
			visibility: hidden;
			opacity: 0;
			font-size: .8rem;
			background-color: black;
			color: #fff;
			text-align: center;
			border-radius: .3rem;
			padding: .2rem .6rem;

			width: max-content;
			position: absolute;
			top: 120%;
			transition: .2s ease;
		}
	}
	tooltip:hover span {
		visibility: visible;
		opacity: 1;
	}
	tooltip:first-of-type > span {
		text-align: left;
		left: 0;
	}
	tooltip:last-of-type > span {
		text-align: right;
		right: 0;
	}
	a {
		margin-top: -.4rem;
		padding: .2rem .6rem;
		border: .2rem solid black;
		border-radius: .3rem;
		transition: .3s ease;
		background: #141414;
		color: #e6e5e2;
		text-decoration: none;
	}
	a:hover {
		border: .2rem solid black;
		background:#33ffbb; color: black;
	}
}

/* [### ↓ PRIMARY LAYOUT FLOW ↓ ###] */
:root {
	--row-clarifications: 5;
	--row-sources: 6;
	--row-music: 7;
	--row-credits: 7;
	--row-transcript: 8;
	--row-rewards: 9;
	--row-footnav: 10;
}

main {
	section {
		display: grid;
		gap: .6rem;
		grid-template-columns: repeat(12, [col-start] 1fr);
		grid-column: 3 / -3;

		h1, #video, synopsis, corrections, clarifications, transcription, rewards, footnav { grid-column: col-start / -1 }
		sources-info, music { grid-column: col-start / 7 }
		sources-media, credits { grid-column: col-start 7 / -1 }

		h1 { grid-row: 1 }
		#video { grid-row: 2 }
		synopsis { grid-row: 3 }
		corrections { grid-row: 4 }
		clarifications { grid-row: var(--row-clarifications) }
		sources-info { grid-row: var(--row-sources) }
		sources-media { grid-row: var(--row-sources) }
		music { grid-row: var(--row-music) }
		credits { grid-row: var(--row-credits) }
		transcription { grid-row: var(--row-transcript) }
		rewards { grid-row: var(--row-rewards) }
		footnav { grid-row: var(--row-footnav) }
		
	}
	section:not(:has(sources-media)) {
		sources-info { grid-column: col-start / -1 }
	}
	section:not(:has(sources-info)) {
		sources-media { grid-column: col-start / -1 }
	}
}

/* [### ↓ DISPLAY: MOBILE ↓ ###] */
@media screen and (max-width: 37rem) {
	music { height: 30rem }
	footnav { font-size: 1rem; min-width: 17rem; }
}

@media screen and (max-width: 41.5rem) {
	main {
		section {
			grid-column: 2 / -2;
			h1, #video, synopsis, corrections, clarifications, sources-info,
			sources-media, music, credits, transcription, rewards, footnav { grid-column: col-start / -1 }
			h1 { grid-row: 1 }
			#video { grid-row: 2 }
			synopsis { grid-row: 3 }
			corrections { grid-row: 4 }
			clarifications { grid-row: var(--row-clarifications) }
			sources-info { grid-row: var(--row-sources) }
			sources-media { grid-row: calc(var(--row-sources) + 1) }
			music { grid-row: calc(var(--row-music) + 1) }
			credits { grid-row: calc(var(--row-credits) + 2) }
			transcription { grid-row: calc(var(--row-transcript) + 2) }
			rewards { grid-row: calc(var(--row-rewards) + 2) }
			footnav { grid-row: calc(var(--row-footnav) + 2) }
		}
	}
}

@media screen and (max-width: 54rem) {
	aside:has(toc) { display: none; opacity: 0 }
	main { width: 100% }
}

/* [### ↓ DISPLAY: >1080p ↓ ###] */
@media screen and (min-width: 121rem) {
	html { font-size: 2rem }
}